<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sistema_de_Loja.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sistema_de_Loja.My.MySettings.CN1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Banco Dados\BDSistemaLoja.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Sistema_de_Loja.My.MySettings>
            <setting name="strCaminhoBancoDeDados" serializeAs="String">
                <value>C:\Banco Dados\BDSistemaLoja.accdb</value>
            </setting>
            <setting name="strLocalBackupBancoDeDados" serializeAs="String">
                <value />
            </setting>
        </Sistema_de_Loja.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FachadaWSSGSSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="FachadaWSSGSSoapBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding" contract="WsCotaDolar.FachadaWSSGS" name="FachadaWSSGS"/>
        </client>
    </system.serviceModel>
</configuration>
